<tr>
  <th>{{this.titlejeux}}</th>
  <th class="text-center"><a href="/jeux/{{this.Id_articles}}" class="text-decoration-none">{{this.Id_articles}}</a>
  </th>
  <th class="text-center">{{formatDate this.created_at "DD-MM-YYYY"}}</th>
  <th class="text-center">{{formatDate this.edited_at "DD-MM-YYYY"}}</th>
  <th class="text-center">
    <a role="button" data-bs-toggle="modal" data-bs-target="#{{this.Id_articles}}Modal_edit_jeux"><i
        class="bi bi-pencil-square"></i></a>
        <a role="button" data-bs-toggle="modal" data-bs-target="#{{this.Id_articles}}Modal_picture_jeux"><i
        class="bi bi-image"></i></a>
    <a role="button" data-bs-toggle="modal" data-bs-target="#{{this.Id_articles}}Modal_delete_jeux"><i
        class="bi bi-trash3"></i></a>
  </th>
</tr>

<!-- modal 1 -->
<div class="modal" tabindex="-1" id="{{this.Id_articles}}Modal_edit_jeux" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modifier</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <!-- formulaire -->
        <form id="jeuxForm" action="/admin/games/{{this.Id_articles}}?_method=PUT" method="post">
          <div class="row g-3">
            <div>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" name="text"></textarea>
            </div>
            <div>
              <input type="text" class="form-control" placeholder="Titre"  name="titlejeux">
            </div>
            <div>
              <input type="date" class="form-control" placeholder="Date de sortie" 
                name="datesorties">
            </div>
            <div>
              <input type="version" class="form-control" name="version" value="{{this.version}}">
            </div>
            <div>
              <input type="text" class="form-control" name="lien_1" value="{{this.lien_1}}">
            </div>
            <div>
              <input type="text" class="form-control" name="lien_2" value="{{this.lien_2}}">
            </div>
            <div>
              <input type="text" class="form-control" name="lien_3" value="{{this.lien_3}}">
            </div>
            <div>
              <input type="text" class="form-control" name="lien_4" value="{{this.lien_4}}">
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Modifier</button>
            <button type="button" class="btn btn-danger">Annuler</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- modal 2 -->
<div class="modal" tabindex="-1" id="{{this.Id_articles}}Modal_delete_jeux" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Supprimer</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Souhaitez-vous supprimer l'article de ce jeu ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Supprimer</button>
        <button type="button" class="btn btn-danger">Annuler</button>
      </div>
    </div>
  </div>
</div>

<!-- modal 3 -->
<div class="modal" tabindex="-1" id="{{this.Id_articles}}Modal_picture_jeux" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modifier image</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/admin/games/{{this.Id_articles}}?_method=PUT" method="post"
          enctype="multipart/form-data">
          <div class="mb-3">
            <label for="formFile" class="form-label">Image de couverture</label>
            <input class="form-control" type="file" id="formpicture" name="edit_image">
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Modifier</button>
            <button type="button" class="btn btn-danger">Annuler</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>